<div class="container">
    <div class="portfolio-about">
        <h3 class="about-me">About Me</h3>
        <div class="row mb-2">
            <div class="col-md-6">
                <h3 class="name">Md. Abu Kaiser</h3>
                <h5 class="work-title">Web Designer & Developer</h5>
                <p class="my-details">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.

                    Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    
                </p>
                <br>
                <p class="my-info"> <span class="about-title">Date of Birth:</span> 14<sup>th</sup> May 1994 </p>
                <p class="my-info"> <span class="about-title">Phone Number:</span> +8801745206790 </p>
                <p class="my-info"> <span class="about-title">Email Address:</span> kaisermdabu@gmail.com </p>
                <p class="my-info"> <span class="about-title">Address:</span> Banasree,Rampura,Dhaka </p>
                <p class="my-info"> <span class="about-title">Portfolio:</span>  https://my-protfolio-6790.firebaseapp.com </p>
            </div>
            <div class="col-md-6">
                <div class="my-photo"></div>
            </div>
        </div>
    </div>
</div>