<div class="contact-me">
  <div class="container">
    <h3 class="title">Contact Me</h3>
    <form>
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-name">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-name">Company</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Company">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="form-name">Telephone</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Telephone">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1" class="form-name">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>          
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-name">Message</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Message" class="message-box">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1" >Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <h3 class="stay-in-touch">Stay In Touch</h3>
            <div class="form-group">
              <label for="exampleInputPassword1" class="form-name">Social Icons</label>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>



