.blog-page{
    margin-top: 56px;
    background-image: linear-gradient(to bottom right, lightblue, lightgray);
    height: 595px;
}
.blog{
    padding-top: 5px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.title-name{
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #545354;
}
.service-item{
    margin-top: 50px;
    text-align: center;
}
.icon-image{
    height: 80px;
    width: 110px;
}
.name{
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}